POSTGRES_USER=mibps
POSTGRES_PASSWORD=mibps
POSTGRES_DB=mibps
DATABASE_URL=postgresql://mibps:mibps@db:5432/mibps?schema=public
JWT_SECRET=supersecret
CORS_ORIGIN=http://localhost:8080
ADMIN_EMAIL=admin@mibps.local
ADMIN_PASSWORD=Admin123!
ADMIN_NAME=Administrador
API_BASE_URL=http://localhost:3000
