backend/node_modules/
frontend/node_modules/
.env
m_posw_android/build/
m_posw_android/.dart_tool/
m_posw_android/.idea/
m_posw_android/android/.gradle/
m_posw_android/android/build/
m_posw_android/android/app/build/
m_posw_android/pubspec.lock
