backend/node_modules/
frontend/node_modules/
backend/dist/
backend/dist-prisma/
.env
.env.bak-*
m_posw_android/build/
m_posw_android/.dart_tool/
m_posw_android/.idea/
m_posw_android/android/.gradle/
m_posw_android/android/build/
m_posw_android/android/app/build/
m_posw_android/pubspec.lock
m_posw_entradas/.gradle/
m_posw_entradas/build/
m_posw_entradas/app/build/
m_posw_entradas/local.properties

# Archivos APK (binarios grandes, se generan en build)
*.apk
frontend/dist/app.apk
frontend/public/app.apk

# App nativa Android (m_posw_entradas)
m_posw_entradas/.gradle/
m_posw_entradas/build/
m_posw_entradas/app/build/
m_posw_entradas/local.properties
